@font-face {
  font-family: Russell Square;
  src: url("/style/fonts/russell-square-regular.ttf");
}

body {
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.content {
  color: #86E33D;
  text-shadow: -1px 0 #67A635, 0 1px #67A635, 1px 0 #67A635, 0 -1px #67A635;
  font-family: 'Russell Square';
  font-size: 30px;
}
